<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scnu.school.mapper.UserMapper">

    <update id="updateUser" >
        UPDATE user
        <set>
            <if test="mark != null">
                mark = #{mark},
            </if>
            <if test="ranking != null">
                ranking = #{ranking},
            </if>
            <if test="province != null">
                province = #{province},
            </if>
            <if test="firstSubject != null">
                first_subject = #{firstSubject},
            </if>
            <if test="secondSubject != null">
                second_subject = #{secondSubject},
            </if>
            <if test="thirdSubject != null">
                third_subject = #{thirdSubject},
            </if>
            <if test="mbti != null">
                mbti=#{mbti}
            </if>
        </set>
        WHERE openid = #{openid};
    </update>

    <update id="updateUserVolunteer" >
        UPDATE user_volunteer
        <set>
            <if test="school !=null">
                school=#{school},
            </if>
            <if test="major != null">
                major=#{major},
            </if>
            <if test="rank24 != null">
                rank24=#{rank24},
            </if>
        </set>
        WHERE id = #{id};
    </update>




</mapper>